*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    /*font-weight: normal;*/
    vertical-align: baseline;
}
body{
    width: 100%;
}
.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 10px 50px;
    border: 2px solid #00a0e3;
}
.baseInform {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px 10px 10px 10px;
}
.baseInform input{
    width: 140px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}
.baseInform .studentIdDiv{
    margin-left: 30px;
}
.workContent {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.workContent div{
    margin-bottom: 5px;
}
.workContent .homeworkDiv p{
    text-indent: 2em;
}
.workContent .answerDiv{
    width: 100%;
}
.workContent .answerDiv #answer{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
#submit{
    width: 70px;
}
.homeworkDiv{
    text-align: left;
}
#workType{
    font-size: 150%;
}
#showContent td{
    width: 200px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}
#homework_td{
    width: 300px;
}







