.outerBox{
    overflow: auto;
}
.robotType{
    width: 200px;
    height: 200px;
    display: block;
    float: left;
}
.robotType>h3{
    margin: 0;
}

.imgContainer{
    display: block;
    width: 100%;
    height: 170px;
}
.txtContainer{
    display: none;
    width: 100%;
    height: 170px;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.txtContainer h4{
    text-align: center;
}
.imgContainer>img{
    display: block;
    width: 100%;
    height: 100%;
}
.typeTitle{
    text-align: center;
}
#adminLogIn{
    /* float: right; */
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
#pubIn{
    position: absolute;
    top: 10px;
    right: 100px;
    font-weight: bold;
}
#backIndex{
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}

